!!!
%html
  %head
    %meta(charset="UTF-8")
    %title CSS Border Radius with jQuery Sliders
    %link{:rel=>"shortcut icon", :href => "favicon.ico", :type => "image/x-icon"}
    %link{:rel=>"icon", :href => "favicon.ico", :type => "image/x-icon"}
    %link(rel="stylesheet" href="css/ui-lightness/jquery-ui-1.8rc3.custom.css")
    %link(rel="stylesheet" href="application.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8")
    %script(src="jquery-ui.js" type="text/javascript" charset="utf-8")
    %script(src="application.js" type="text/javascript" charset="utf-8")
    %meta(name="description" content="CSS3 border radius generator")
    %meta(name="keywords" content="css, rounded corners, border radius")
    %meta(name="robots" content="index, follow")/
    <meta name="google-site-verification" content="A4RnviWOJcb07Nn2D89iWn8rfIOjMrOSJ3NXzCe-Rso" />
  %body
    %h1 CSS Border Radius with jQuery Sliders
    #box
      %textarea#copiable Move the slider below.
    %br/
    
    #slider_box
      #label_box
        %label(for="webkit")
          %input#webkit(type="checkbox")
          Webkit
          
        %label(for="moz")
          %input#moz(type="checkbox")
          Gecko
          
        %label(for="css3")
          %input#css3(type="checkbox")
          CSS3
           
        
          
      .slider_line
        %span.label Top Left:
        .slider#slider_topleft
        %span.px
      .slider_line
        %span.label Top Right:
        .slider#slider_topright
        %span.px
      .slider_line
        %span.label Bottom Left:
        .slider#slider_bottomleft
        %span.px
      .slider_line
        %span.label Bottom Right:
        .slider#slider_bottomright
        %span.px
    %br/
    #footer
      :markdown
        The idea is stolen from [CSS Border Radius][cssradius] and [Dan Benjamin](http://hivelogic.com/articles/css-border-radius-builder "Hivelogic").  
        This website is made by [Takaaki Kato](http://takaaki.me "Takaaki Kato"). [On GitHub](https://github.com/takaaki/css_radius "css_radius").  
        Need [an explanation](http://www.the-art-of-web.com/css/border-radius/ "CSS: border-radius and -moz-border-radius")? If you know a better color scheme, <a href="mailto:takaaki.kato@gmail.com">please let me know</a>.  
        [cssradius]: http://border-radius.com/ "CSS Border Radius"
    
    <a href="http://github.com/takaaki/css_radius"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-438638-4");
    pageTracker._trackPageview();
    } catch(err) {}</script>
