!!!
%html
  %head
    %meta(charset="UTF-8")
    %title CSS Border Radius with Slider
    %link(rel="stylesheet" href="css/ui-lightness/jquery-ui-1.8rc3.custom.css")
    %link(rel="stylesheet" href="application.css")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8")
    %script(src="jquery-ui.js" type="text/javascript" charset="utf-8")
    %script(src="application.js" type="text/javascript" charset="utf-8")
  %body
    %h1 CSS Border Radius with Slider
    #box
      %textarea#copiable Move the slider below.
    #slider
    #slider_value 0
    #footer
      :markdown
        The idea is stolen from [CSS Border Radius][cssradius]. This website is made by [Takaaki Kato](http://takaaki.me "Takaaki Kato").  
        Need [a better control][cssradius] or need [an explanation](http://www.the-art-of-web.com/css/border-radius/ "CSS: border-radius and -moz-border-radius")?
        [cssradius]: http://border-radius.com/ "CSS Border Radius"
        
