body {
  background-color: #2A2A2A;
  color: #fff;
  height: 100%;
  margin-bottom: 0;
}

a:link, a:hover, a:visited, a:active {
  color: #fff;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font: normal normal bold 1em/1.5em Arial, sans-serif;
  color: #fff;  
}

.slider_line {
  text-align: center;
  font: normal normal bold 0.9em Arial, sans-serif;
  color: #fff;
}

#slider_box {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

.label {
  display: block;
  float: left;    
  width: 9em;
  text-align: right;  
}

#box {
  background: #A6A6A6;
  padding: 10px;
  width: 600px;
  height: 300px;
  margin: 0 auto 0 auto;
  text-align:center
}

#copiable {
  font: normal normal normal 1em Courier, "Deja Vu Sans Mono", Monaco monospace;
  margin: 10px auto 0 auto;
  padding: 3px 0 0 3px;
  width: 500px;
  height: 270px;
  background: #fff;
}

.slider {
  margin: 20px auto 0 auto;
  width: 300px;
}

.px {
  float: right;
  display: block;
  width: 140px;
  text-align: left;
  margin: -1em 0 0 0;
}

#footer {
  font-family: Arial, "MS Trebuchet", sans-serif;
  margin: 10px auto;
  text-align: center;
  font-size: 0.8em;
}