body {
  background-color: #2A2A2A;
  color: #fff;
}


a:hover, a:visited, a:active {
  color: #fff;
  text-decoration: underline;
}

h1 {
  text-align: center;
  font: normal normal bold 1em/1.5em Arial, sans-serif;
  color: #fff;  
}

.text {
  text-align: center;
  font: normal normal bold 0.9em Arial, sans-serif;
  color: #fff;
}

.label {
/*  display: inline;
  float: left;    
  width: 10em; 
  margin-top: -3px;   
  margin-left: 220px;
  text-align: right;*/
}

#box {
  background: #A6A6A6;
  padding: 10px;
  width: 600px;
  height: 300px;
  margin: 0 auto 0 auto;
  text-align:center
}

#copiable {
  font: normal normal normal 1em Courier, "Deja Vu Sans Mono", Monaco monospace;
  margin: 10px auto 0 auto;
  padding: 3px 0 0 3px;
  width: 500px;
  height: 270px;
  background: #fff;
}

.slider {
  margin: 20px auto 0 auto;
  width: 300px;
}

#slider_topleft {
  margin: 2px auto 5px auto;
  width: 300px;
}
#slider_topright {
  margin: 2px auto 5px auto;
  width: 300px;
}
#slider_bottomleft {
  margin: 2px auto 5px auto;
  width: 300px;
}
#slider_bottomright {
  margin: 2px auto 5px auto;
  width: 300px;
}

#slider_value {
  text-align: center;
  font: normal normal normal 1.1em monospace;
}

footer {
  font-family: Arial, "MS Trebuchet", sans-serif;
  margin: 10px;
  text-align: center;
  font-size: 0.8em;
}


